body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "Montserrat-Black";
  src: local("Montserrat"),
  url("../public/font/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: local("Montserrat"),
  url("../public/font/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat"),
  url("../public/font/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: local("Montserrat"),
  url("../public/font/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: local("Montserrat"),
  url("../public/font/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: local("Montserrat"),
  url("../public/font/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: local("Montserrat"),
  url("../public/font/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  src: local("Montserrat"),
  url("../public/font/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-Italic";
  src: local("Montserrat"),
  url("../public/font/Montserrat-Italic.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat"),
  url("../public/font/Montserrat-Light.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-LightItalic";
  src: local("Montserrat"),
  url("../public/font/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat"),
  url("../public/font/Montserrat-Medium.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-MediumItalic";
  src: local("Montserrat"),
  url("../public/font/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat"),
  url("../public/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat"),
  url("../public/font/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: local("Montserrat"),
  url("../public/font/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-Thin";
  src: local("Montserrat"),
  url("../public/font/Montserrat-Thin.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-ThinItalic";
  src: local("Montserrat"),
  url("../public/font/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: bold;
}
:where(.css-dev-only-do-not-override-k7429z).ant-menu-light.ant-menu-root.ant-menu-inline{
  border-inline-end:none
}
.ant-menu-submenu-arrow{
  display: none;
}
:where(.css-dev-only-do-not-override-k7429z).ant-menu-inline .ant-menu-submenu-title{
  margin-inline: 0;
  width: 100%
}
:where(.css-dev-only-do-not-override-k7429z).ant-menu .ant-menu-submenu-title .anticon +span{
  margin-inline-start:4px
}
:where(.css-dev-only-do-not-override-k7429z).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline{
  background: none
}
:where(.css-dev-only-do-not-override-k7429z).ant-menu-inline .ant-menu-item{
  margin-inline:0;
  width: 100%;
  margin-block: 0;
}
.custom-search .ant-input {
  background-color: #EDE6E6;
}.custom-search-ticket .ant-input {
  background-color: #F7F7F8;
}
:where(.css-dev-only-do-not-override-k7429z).ant-table-wrapper .ant-table-tbody>tr>td{
  padding: 0px 8px;
  height: 45px;
}
:where(.css-dev-only-do-not-override-k7429z).ant-table-wrapper .ant-table-thead>tr>th{
  padding: 11px 8px;
font-size: 16px;
font-family: 'Montserrat-SemiBold';
}
:where(.css-dev-only-do-not-override-k7429z).ant-pagination .ant-pagination-item-active {
background-color: #FF7506;
border:none;
}
:where(.css-dev-only-do-not-override-k7429z).ant-pagination .ant-pagination-item-active a {
  color: #ffffff;
}
:where(.css-dev-only-do-not-override-k7429z).ant-pagination .ant-pagination-item-active:hover a {
  color: #ffffff;
}
.bg-gray{
  background-color: #F7F8FB;
  }
  .bg-white{
    background-color: #ffffff;
  }
  ant-select-selection-item{
    font-size: 16px;
    font-family: 'Montserrat-Medium';
  }
  :where(.css-dev-only-do-not-override-k7429z).ant-select-single.ant-select-show-arrow .ant-select-selection-item{
    font-size: 16px;
    font-family: 'Montserrat-Medium';
  }